body {
    background-color: var(--bg-main);
}

.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: var(--bg-login);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-header {
    text-align: center;

}

.mb-3,
.btn {
    background-color: var(--bg-panel);
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}